npm-debug.log
node_modules
dist
build
src
coverage
test

.babelrc
.editorconfig
.eslintcache
.eslintignore
.eslintrc.yml
.gitignore
.gitattributes
.npmignore
.travis.yml
.flowconfig

appveyor.yml
gulpfile.babel.js
package-lock.json
rollup.config.js
